#saint{
	 
	 
	 background-image:url(../images/saintPizza.jpg);
	 background-size: 100% 100%;
	 height: 300px;
	 background-repeat: no-repeat;
	 border: 3px solid grey;
	 border-radius: 5px;
	 
}
#good_food{
	 
	 
	 background-image:url(../images/good_food.jpg);
	 background-size: 100% 100%;
	 height: 300px;
	 background-repeat: no-repeat;
	 border: 3px solid grey;
	 border-radius: 5px;
	 
}
#grill_51{
	 
	 
	 background-image:url(../images/51_grill.jpg);
	 background-size: 100% 100%;
	 height: 300px;
	 background-repeat: no-repeat;
	 border: 3px solid grey;
	 border-radius: 5px;
	 
}

#mcdonalds{

	 background-image:url(../images/mcDonalds.jpg);
	 background-size: 100% 100%;
	 height: 300px;
	 background-repeat: no-repeat;
	 border: 3px solid grey;
	 border-radius: 5px;
	 
}


#dolce{
	 
	 
	 background-image:url(../images/dolce_slika.jpg);
	 background-size: 100% 100%;
	 height: 300px;
	 background-repeat: no-repeat;
	 border: 3px solid grey;
	 border-radius: 5px;
	 
}

#walter{
	 
	 
	 background-image:url(../images/walter_slika.jpg);
	 background-size: 100% 100%;
	 height: 300px;
	 background-repeat: no-repeat;
	 border: 3px solid grey;
	 border-radius: 5px;
	 
}


#marukoshi{
	 
	 
	 background-image:url(../images/marukoshi_slika.jpg);
	 background-size: 100% 100%;
	 height: 300px;
	 background-repeat: no-repeat;
	 border: 3px solid grey;
	 border-radius: 5px;
	 
}

#bucko{
	 
	 
	 background-image:url(../images/bucko_slika.jpg);
	 background-size: 100% 100%;
	 height: 300px;
	 background-repeat: no-repeat;
	 border: 3px solid grey;
	 border-radius: 5px;
	 
}

#go_sushi{
	 
	 
	 background-image:url(../images/go_sushi_slika.jpg);
	 background-size: 100% 100%;
	 height: 300px;
	 background-repeat: no-repeat;
	 border: 3px solid grey;
	 border-radius: 5px;
	 
}
#poke{
	 
	 
	 background-image:url(../images/poke_slika.jpg);
	 background-size: 100% 100%;
	 height: 300px;
	 background-repeat: no-repeat;
	 border: 3px solid grey;
	 border-radius: 5px;
	 
}
#cake{
	 
	 
	 background-image:url(../images/cake_slika.jpg);
	 background-size: 100% 100%;
	 height: 300px;
	 background-repeat: no-repeat;
	 border: 3px solid grey;
	 border-radius: 5px;
	 
}
#bw{
	 
	 
	 background-image:url(../images/bw_slika.jpg);
	 background-size: 100% 100%;
	 height: 300px;
	 background-repeat: no-repeat;
	 border: 3px solid grey;
	 border-radius: 5px;
	 
}
#bergamo{
	 
	 
	 background-image:url(../images/bergamo_slika.jpg);
	 background-size: 100% 100%;
	 height: 300px;
	 background-repeat: no-repeat;
	 border: 3px solid grey;
	 border-radius: 5px;
	 
}

#baloro{
	 
	 
	 background-image:url(../images/baloro_slika.jpg);
	 background-size: 100% 100%;
	 height: 300px;
	 background-repeat: no-repeat;
	 border: 3px solid grey;
	 border-radius: 5px;
	 
}

#krilca{
	 
	 
	 background-image:url(../images/krilca.jpg);
	 background-size: 100% 100%;
	 height: 300px;
	 background-repeat: no-repeat;
	 border: 3px solid grey;
	 border-radius: 5px;
	 
}
#caribic{
	 
	 
	 background-image:url(../images/caribic_slika.jpg);
	 background-size: 100% 100%;
	 height: 300px;
	 background-repeat: no-repeat;
	 border: 3px solid grey;
	 border-radius: 5px;
	 
}

#slika{
	border:10px;
	border-radius: 40%;
}

#saint img:hover{
	transform: scale(1.3);
}
#good_food img:hover{
	transform: scale(1.3);
}
#grill_51 img:hover{
	transform: scale(1.3);
}

#mcDonalds img:hover{
	transform: scale(1.4);
}

#baloro img:hover{
	transform: scale(1.3);
}


#dolce img:hover{
	transform: scale(1.3);
}

#walter img:hover{
	transform: scale(1.3);
}

#marukoshi img:hover{
	transform: scale(1.3);
}

#bucko img:hover{
	transform: scale(1.3);
}

#go_sushi img:hover{
	transform: scale(1.3);
}
#cake img:hover{
	transform: scale(1.3);
}
#poke img:hover{
	transform: scale(1.3);
}
#bw img:hover{
	transform: scale(1.3);
}
#bergamo img:hover{
	transform: scale(1.3);
}
#krilca img:hover{
	transform: scale(1.3);
}
#caribic img:hover{
	transform: scale(1.3);
}


.dole {
	position: absolute;
	bottom: 10px;
}

.desno {
	position: absolute;
	bottom: 8px;
	right: 6px;
	left:225px;
	
}

.opis{
	height: auto;
	border: 2px solid grey;
	border-radius: 5px;
	border-style: dotted;
	padding:10px;
	background-color: #ccff99;
}

