body {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 72px;
  color: #fff;
  font-weight: 300; }
  @media (max-width: 1200px) {
    h1 {
      font-size: 52px; } }
  @media (max-width: 992px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 47px; }
  @media (max-width: 768px) {
    h2 {
      font-size: 34px; } }

h3 {
  font-size: 35px; }
  @media (max-width: 992px) {
    h3 {
      font-size: 30px; } }

h4 {
  font-size: 30px; }

h5 {
  font-size: 28px; }
  @media (max-width: 768px) {
    h5 {
      font-size: 22px; } }

h6 {
  font-size: 21px;
  font-weight: 400; }

p {
  font-size: 15px; }



.light-bg {
  background: #f3f4f7; }

.dark-bg {
  background: #252a33; }

.nav-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto; }

.nav-menu-2 {
  position: inherit; }

.navbar {
  padding: .5rem 0; }

.navbar-brand {
  font-size: 31px; }

.navbar-light .navbar-brand {
  color: #fff; }
  .navbar-light .navbar-brand:hover {
    color: #fff; }

.navbar-light .navbar-nav .show > .nav-link {
  color: #fff; }

.navbar-light .navbar-nav .active > .nav-link {
  color: #fff; }

.navbar-light .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 300;
  color: #fff; }
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
    outline: none; }

.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff; }
  
  
  
  
 /*NAVBAR BLACK*/
 .navbar-custom {
  padding: .5rem 0; 
  background-color:#292b2c;
  
  }
 
 
 
 
.navbar-custom .navbar-brand {
  color: #fff; }
  .navbar-custom .navbar-brand:hover {
    color: #fff; }

.navbar-custom .navbar-nav .show > .nav-link {
  color: #fff; }

.navbar-custom .navbar-nav .active > .nav-link {
  color: #fff; }

.navbar-custom .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 300;
  color: #fff; }
  .navbar-custom .navbar-nav .nav-link:hover, .navbar-custom .navbar-nav .nav-link:focus {
    color: #fff;
    outline: none; }

.navbar-custom .navbar-toggler {
  color: #fff;
  border-color: #fff; 
  }
  
 /*KRAJ NAVBARA BLACK*/
@media (max-width: 992px) {
  .navbar-nav {
    padding: 7px 20px; } }

.nav-item {
  margin: 0 20px 0 0; }
  .nav-item span {
    font-size: 10px;
    margin: 0 0 0 4px; }

.bg {
  width: 100%;
  height: 70px; }

.is-sticky {
  background: #252a33;
  opacity: 1; }

.transition {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.fixed {
  border-bottom: 1px solid #636363;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }
  @media (max-width: 992px) {
    .fixed {
      border: none;
      background: #252a33; } }

.dropdown-menu {
  background: #030303; }

.dropdown-item {
  color: #aaaaaa;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .dropdown-item:hover {
    color: #fff;
    background: none; }

.ti-plus {
  font-size: 14px;
  padding: 0 8px 0 0; }


.slider {
  background: url(../images/naslovna4.jpeg) no-repeat;
  background-size: cover;
  min-height: 800px; }
  @media (max-width: 992px) {
    .slider {
      min-height: 700px; } }
	  
.naslov_korpa{
	text-align:center;
	height:150px;
	margin-top:30px;
}
	  
	  
.slider_cart {
  background: url(../images/flash/cart2.jpg) no-repeat;
  background-size: cover;
  min-height: 800px; }
  @media (max-width: 992px) {
    .slider_cart {
      min-height: 700px; } }	  
	  
	  
.slider_food {
  background: url(../images/flash/food.jpg) no-repeat;
  background-size: cover;
  min-height: 800px; }
  @media (max-width: 992px) {
    .slider_food {
      min-height: 700px; } }	  	  
	
	
.slider_zvezdara {
  background: url(../images/zvezdara.jpg) no-repeat;
  background-size: cover;
  min-height: 800px; }
  @media (max-width: 992px) {
    .slider_zvezdara {
      min-height: 700px; } }

.slider_dorcol {
  background: url(../images/dorcol.jpg) no-repeat;
  background-size: cover;
  min-height: 800px; }
  @media (max-width: 992px) {
    .slider_dorcol {
      min-height: 700px; } }
	  

.slider_vracar {
  background: url(../images/vracar.jpg) no-repeat;
  background-size: cover;
  min-height: 800px; }
  @media (max-width: 992px) {
    .slider_vracar {
      min-height: 700px; } }

	  
.slider_nbgd {
  background: url(../images/nbgd.jpg) no-repeat;
  background-size: cover;
  min-height: 800px; }
  @media (max-width: 992px) {
    .slider_nbgd {
      min-height: 700px; } }
  
.btn-outline-light {
  padding: 10px 16px; }
  @media (max-width: 992px) {
    .btn-outline-light {
      width: 25%; } }
  @media (max-width: 768px) {
    .btn-outline-light {
      width: 30%; } }
  @media (max-width: 576px) {
    .btn-outline-light {
      width: 40%; } }
  @media (max-width: 480px) {
    .btn-outline-light {
      width: 100%; } }
  .btn-outline-light:hover {
    color: #000; }

.slider-title_box {
  text-align: center; }

.slider-content_wrap h5 {
  color: #000;
  font-weight: 400;
  margin: 24px 0; 
  
  }
  

@media (max-width: 480px) {
  .form-wrap {
    margin: 0 !important; } }

.btn-group {
  width: 78%; }
  @media (max-width: 576px) {
    .btn-group {
      display: block; } }

.btn-group1 {
  padding: 24px;
  width: 40%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none; }
  @media (max-width: 576px) {
    .btn-group1 {
      width: 100%;
      border-radius: 3px;
      margin: 0 0 10px;
      padding: 17px; } }

.btn-group2 {
  position: relative;
  padding: 24px;
  width: 33%;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid #ccc; }
  @media (max-width: 576px) {
    .btn-group2 {
      width: 100%;
      border-radius: 3px;
      margin: 0 0 10px;
      padding: 17px; } }

.btn-form {
  font-weight: 400;
  font-size: 18px;
  padding: 17px;
  width: 27%;
  background: #336600;
  color: #ffffff;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }
  @media (max-width: 768px) {
    .btn-form {
      width: auto; } }
  @media (max-width: 576px) {
    .btn-form {
      width: 100%;
      border-radius: 3px; } }

.search-icon {
	font-size: 15px;
	padding-right: 10px; }

.brza_pretraga a:hover {
     color: #000; }

.brza_pretraga a {
    color: #4c9900;
	font-weight:bold;
	text-decoration: underline;}	 
  
.brza_pretraga {
	color: #B2FF66;
	margin: 45px 0 0;
	font-size: 20px; 
	margin-bottom:0px;
}
  
.brza_pretraga a {
    color: #B2FF66;
	font-weight:bold;
    text-decoration: underline;
}
    
.brza_pretraga span {
    padding: 0 18px; }

.najbolji_naslov {
  text-align: center;
  margin-bottom:50px; 
  margin-top:50px;
  }
  
 

  

.find-img-align {
  padding: 0 0 15px; }
  @media (max-width: 768px) {
    .find-img-align {
      padding: 0; } }

.najbolje_ocenjeno_wrapper {
  background: #fff;
  margin: 0 0 30px;
}
  

.slova {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  
  font-size: 23px;
  background: #ffcc99;
  color: #fff;
  border-radius: 50%;/*da bude kruzic*/
}  


.kruzic,.kruzic_drugi,.kruzic_prvi {
  position: absolute;
  right: 10px;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: -33px 10px 0 0;
  font-size: 23px;
  background: #ffcc99;
  color: #fff;
  padding: 14px;
  border-radius: 50%;/*da bude kruzic*/
}

.kruzic_prvi {
  background: #003366 !important; }

.kruzic_drugi {
  background: #4c9900 !important; }
  
  
.izgled_najbolje {
  padding: 22px 20px; }
  @media (max-width: 480px) {
    .izgled_najbolje {
      padding: 22px 14px; } }
  .izgled_najbolje h6 {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: 5px; }
  .izgled_najbolje p {
    color: #9fa9b9;
    display: inline-block;
    margin: 0; }
    @media (max-width: 320px) {
      .izgled_najbolje p {
        font-size: 13px; } }
    .izgled_najbolje p span {
      color: #ffb006;
      padding: 0; }
  .izgled_najbolje span {
    color: #9fa9b9;
    padding: 0 10px; }
    @media (max-width: 320px) {
      .izgled_najbolje span {
        padding: 0 4px; } }
  .izgled_najbolje ul {
    padding: 0;
    margin: 10px 0 0; }
    .izgled_najbolje ul li {
      list-style: none;
      color: #737882;
      line-height: 2; }
      .izgled_najbolje ul li span {
        padding: 7px 8px 0 0; }
        @media (max-width: 1200px) {
          .izgled_najbolje ul li span {
            padding: 0 4px 0 0; } }
        @media (max-width: 320px) {
          .izgled_najbolje ul li span {
            font-size: 12px;
            padding: 0 2px 0 0; } }
      .izgled_najbolje ul li p {
        margin: 0; }

.oznake {
  padding: 15px 0 0;
  line-height: 1; }
  .oznake span {
    float: right;
    line-height: 1;
    padding: 0 0 0 12px; }

.zatvoreno {
  color: #ff3a6d;
  font-size: 13px;
  display: block;
  font-weight: 400;
  display: inline-block; }

.otvoreno {
  color: #46cd38;
  font-size: 13px;
  display: block;
  font-weight: 400;
  display: inline-block; }

.dugme_pogledaj_sve {
  text-align: center; 
  margin-bottom:10px;
  }
  

@media (max-width: 992px) {
  .category-responsive {
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; } }

@media (max-width: 576px) {
  .category-responsive {
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; } }

.category-wrap:hover {
  text-decoration: none; }

.category-wrap:hover .category-block {
  background: #f34e79;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.category-wrap:hover .category-img path {
  text-decoration: none;
  fill: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.category-wrap:hover .category-block h6 {
  color: #fff;
  text-decoration: none; }

.category-block {
  margin: 0 auto;
  text-align: center;
  border: 1px solid #e5e7ef;
  padding: 30px;
  margin: 0 0 30px; }
  .category-block h6 {
    color: #3e434b;
    margin: 10px 0 0; }

.category-img {
  width: 64px;
  height: 64px; }

.add-listing-wrap {
  text-align: center;
  margin: 0 0 36px; }
  .add-listing-wrap h2 {
    font-weight: 300; }
  .add-listing-wrap p {
    font-size: 22px;
    font-weight: 300;
    color: #737882; }


footer {
  padding-top:15px;
  text-align:center;
  color:white;
  
  }

.detail-filter-wrap {
  padding: 17px 0;
  border-bottom: 1px solid #e7e7e7; }
  .detail-filter-wrap p {
    font-size: 18px;
    color: #3e434b;
    font-weight: 300;
    margin: 6px 0 0; }
    .detail-filter-wrap p span {
      font-weight: 500; }

.detail-filter {
  text-align: right; }
  @media (max-width: 992px) {
    .detail-filter {
      text-align: left; } }
  .detail-filter p {
    font-weight: 300;
    color: #3e434b;
    font-size: 14px;
    display: inline-block;
    margin: 0 10px 0 0; }

.map-responsive-wrap {
  display: none; }
  @media (max-width: 992px) {
    .map-responsive-wrap {
      display: block; } }
  .map-responsive-wrap iframe {
    width: 100%;
    height: 800px; }

.map-icon {
  display: none;
  border: 1px solid #737882;
  color: #737882;
  padding: 8px 10px 2px 10px;
  margin: -46px 0 0;
  opacity: 0.6;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .map-icon:hover {
    text-decoration: none;
    color: #737882;
    opacity: 1; }
  @media (max-width: 992px) {
    .map-icon {
      display: inline-block;
      text-align: right;
      float: right; } }
  @media (max-width: 480px) {
    .map-icon {
      float: left;
      margin: 10px 0 0; } }
  .map-icon span {
    font-size: 22px; }

.map-toggle {
  display: none; }

.filter-dropdown {
  display: inline-block; }
  .filter-dropdown select {
    border-radius: 0; }

.detail-checkbox-wrap {
  padding: 22px 0; }

.detail-options-wrap {
  padding: 15px 0; }

@media (max-width: 992px) {
  .responsive-wrap {
    max-width: 100%;
    -webkit-box-flex: 100%;
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%; } }

.reserve-block {
  padding: 30px 0; }
  .reserve-block h5 {
    color: #3e434b;
    font-weight: 400;
    display: inline-block;
    margin: 0; }
  .reserve-block p {
    display: inline-block;
    font-size: 18px;
    color: #b2b8c3;
    font-weight: 400;
    padding: 0 0 0 8px;
    margin: 0 0 8px; }
    @media (max-width: 992px) {
      .reserve-block p {
        margin: 0; } }
    .reserve-block p span {
      color: #ffb006; }

.reserve-description {
  font-size: 15px !important;
  font-weight: 400 !important;
  padding: 0 !important;
  margin: 0 !important; }

.reserve-seat-block {
  text-align: right; }
  @media (max-width: 992px) {
    .reserve-seat-block {
      margin: 15px 0 0; } }
  @media (max-width: 768px) {
    .reserve-seat-block {
      text-align: left; } }
  @media (max-width: 576px) {
    .reserve-seat-block {
      text-align: center; } }

.reserve-rating {
  font-size: 23px;
  background: #46cd38;
  padding: 10px 14px;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  vertical-align: top; }

.review-btn {
  display: inline-block;
  text-align: center;
  margin: 3px 14px 0 14px; }
  @media (max-width: 1200px) {
    .review-btn {
      margin: 3px 4px 0 4px; } }
  @media (max-width: 576px) {
    .review-btn {
      margin: 3px 0px 0 0px; } }
  .review-btn span {
    display: block;
    color: #8a8e96;
    font-size: 13px;
    margin-top: 3px; }
  .review-btn .btn-outline-danger {
    color: #ff3a6d;
    border-color: #ff3a6d; }
    .review-btn .btn-outline-danger:hover {
      color: #fff;
      background: #ff3a6d; }

.reserve-btn {
  display: inline-block;
  vertical-align: top; }
  @media (max-width: 768px) {
    .reserve-btn {
      margin: -7px 0 0; } }
  @media (max-width: 576px) {
    .reserve-btn {
      margin: 0 0 0;
      width: 100%; } }

.custom-checkbox {
  color: #737882;
  font-size: 14px;
  line-height: 1.8;
  margin-right: 0; }
  .custom-checkbox span {
    padding: 0 10px 0 0; }

.booking-details_wrap {
  padding: 26px 0; }

.booking-checkbox_wrap {
  background: #fff;
  padding: 30px; }
  .booking-checkbox_wrap h5 {
    color: #3e434b;
    text-align: center;
    font-weight: 400; }

.booking-checkbox {
  color: #737882;
  font-size: 15px; }
  .booking-checkbox p {
    line-height: 1.8; }

.customer-review_wrap {
  display: inline-block;
  width: 100%; }

.customer-img {
  float: left; }
  @media (max-width: 992px) {
    .customer-img {
      text-align: center;
      float: none;
      margin: 0 0 15px; } }
  .customer-img img {
    border-radius: 50%; }
  .customer-img p {
    color: #3e434b;
    margin: 4px 0 0;
    text-align: center;
    font-size: 18px;
    line-height: 1.2; }
  .customer-img span {
    font-size: 14px;
    color: #737882;
    text-align: center; }

.customer-content-wrap {
  margin: 0 0 0 135px; }
  @media (max-width: 992px) {
    .customer-content-wrap {
      margin: 0 0 0 110px; } }
  @media (max-width: 992px) {
    .customer-content-wrap {
      margin: 0px; } }
  .customer-content-wrap ul {
    margin: 24px 0 0;
    padding: 0; }
    .customer-content-wrap ul li {
      list-style: none;
      display: inline-block;
      margin: 0 10px 0 0; }
      @media (max-width: 480px) {
        .customer-content-wrap ul li {
          margin: 0 0 10px 0; } }
  .customer-content-wrap span {
    color: #737882;
    display: inline-block;
    margin: 26px 0 0; }
  .customer-content-wrap a {
    border: 1px solid #ccc;
    color: #737882;
    font-size: 14px;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0 0 0 10px; }
    .customer-content-wrap a:hover {
      text-decoration: none; }
    .customer-content-wrap a span {
      margin: 0 6px 0 0; }

.customer-text {
  color: #737882;
  margin: 15px 0 0;
  line-height: 1.6; }

.customer-content h6 {
  color: #3e434b; }

.customer-content p {
  color: #737882;
  display: inline-block;
  vertical-align: top;
  line-height: 0.8;
  margin: 0 0 0 8px; }

.customer-review {
  display: inline-block; }
  @media (max-width: 576px) {
    .customer-review {
      display: block; } }
  .customer-review span {
    width: 10px;
    height: 10px;
    background: #46cd38;
    border-radius: 50%;
    display: block;
    float: left;
    margin: 0 5px 0 0; }

.round-icon-blank {
  background: #d9dce7 !important; }

.round-icon-red {
  background: #ff5a5a !important; }

.round-icon-orange {
  background: #ffbb27 !important; }

.customer-rating {
  background: #46cd38;
  padding: 8px 14px;
  float: right;
  font-size: 18px;
  color: #fff;
  border-radius: 3px; }
  @media (max-width: 576px) {
    .customer-rating {
      float: none;
      display: inline-block; } }

.customer-rating-red {
  background: #ff5a5a !important; }

.customer-description {
  margin: 0 0 0 50px; }

.contact-info {
  background: #fff;
  padding: 0 0 6px;
  margin: 0 0 15px; }
  .contact-info img {
    width: 100%; }
  .contact-info label {
    color: #46cd38;
    font-size: 14px;
    padding: 0 0 0 50px; }
    @media (max-width: 992px) {
      .contact-info label {
        display: block; } }

.address {
  color: #737882;
  padding: 18px 0 0 16px; }
  .address > span {
    font-size: 18px;
    float: left;
    margin: 4px 0 0; }
  .address p {
    margin: 0 0 0 34px; }
  .address .featured-open {
    font-size: 13px;
    padding: 0 0 0 34px; }

.btn-contact {
  display: block;
  padding: 16px;
  margin: 12px 16px;
  border: 2px solid #ff3a6d;
  color: #ff3a6d;
  font-weight: 400; }
  .btn-contact:hover {
    background: #ff3a6d;
    border: 2px solid #ff3a6d; }

.follow {
  background: #fff; }
  .follow ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center; }
    .follow ul li {
      list-style: none;
      padding: 13px 0;
      width: 33%; }
      @media (max-width: 1200px) {
        .follow ul li {
          padding: 12px 18px; } }
      .follow ul li:first-child, .follow ul li:nth-child(2) {
        border-right: 1px solid #ededed; }
      .follow ul li h6 {
        margin: 0; }
  .follow a {
    color: #ff3a6d;
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 14px 0; }

.follow-img {
  text-align: center;
  padding: 20px 16px;
  color: #3e434b; }
  .follow-img img {
    border-radius: 50%; }
  .follow-img h6 {
    margin: 11px 0 0; }

.social-counts span {
  font-size: 14px;
  color: #737882; }

.map-wrap {
  padding: 0; }

.map-fix {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 41.7%; }
  @media (max-width: 992px) {
    .map-fix {
      display: none;
      top: 17%;
      left: 0;
      width: 100%; } }
  @media (max-width: 480px) {
    .map-fix {
      top: 24%; } }
  @media (max-width: 365px) {
    .map-fix {
      top: 29.3%; } }

#map {
  height: 100%;
  width: 100%; }
 
 
  /* pozicioniranje dugmeta na baneru */
.baner {
  position: relative;
  width: 50%;
}

.baner img {
  width: 100%;
  height: auto;
}

.baner .baner5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -0%);
  -ms-transform: translate(-50%, -0%);
  background-color: #ff8000;
  color: white;
  font-size: 16px;
  
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.baner .baner5:hover {
  background-color: black;
} 

.baner .baner2 {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #660066;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.baner .baner2:hover {
  background-color: black;
} 
  
  

.baner .baner4 {
  position: absolute;
  top: 12%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #00cccc;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.baner .baner4:hover {
  background-color: black;
} 
  
  
  

.baner .baner3 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -0%);
  -ms-transform: translate(-50%, -0%);
  background-color: #663300;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.baner .baner3:hover {
  background-color: black;
} 
  
  
/*breadcrumbs*/


/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}


/*breadcrumbs*/

.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}



.btn-breadcrumb .btn.btn-success:not(:last-child):after {
  border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
  border-left: 10px solid #4cae4c;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
  border-left: 10px solid #47a447;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
  border-left: 10px solid #398439;
}



.pretraga{
	color:white;
	font-size:45px;
	font-weight:bold;
	text-align:center;
	font-family: 'Roboto', sans-serif;
	background-color:#4c9900;
}


.pretraga2{
	color:black;
	font-size:30px;
	text-align:center;
	font-family: 'Roboto', sans-serif;
	background-color:#ccff99;
}

.pretraga3{
	color:black;
	font-size:20px;
	text-align:center;
	font-family: 'Roboto', sans-serif;
	background-color:#ccff99;
}

#pretrazi{
	/*background-color:#99ff99;*/
	background: url(../images/pozadina_pretraga.jpg) no-repeat;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	text-align:center;
}

.slider2 {
  background: url(../images/naslovna_filter.jpg) no-repeat;
  background-size: cover;
  min-height: 800px; }
  @media (max-width: 992px) {
    .slider2 {
      min-height: 700px; } }
	  
.filtriranje{
	text-align:center;
	background-color:#ccff99;
}

.filtriranje2{
	text-align:center;
	padding-top:5px;
	background-color:#4c9900;
}
